html {
  --font-family: 'Source Sans Pro', sans-serif;
  --font-weight-regular: 400;
  --font-weight-strong: 600;
  --font-size-body: 1.25rem;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
