.loading-spinner {
  display: flex;
  align-items: center;
}

.loading-spinner__dots {
  margin: 0 1ch;
  width: 1ch;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side,#000 94%,#0000);
  background:
    var(--_g) 0    0,
    var(--_g) 100% 0,
    var(--_g) 100% 100%,
    var(--_g) 0    100%;
  background-size: 30% 30%;
  animation: dots 0.5s infinite; 
}

@keyframes dots {
  100% {background-position: 100% 0,100% 100%,0 100%,0 0}
}
